---
import Access from '../components/Access.astro';
import Description from '../components/Description.astro';
import MasterIntroduction from '../components/MasterIntroduction.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Title />
	<Description client:load>
		<div slot="fallback">Loading</div>
	</Description>
	<MasterIntroduction />
	<Access />
</Layout>
